.side-menu {
    display: grid;
    padding-right: 1rem;
    grid-template-rows: 2rem auto;
    justify-items: end;
    align-items: center;
}
.side-menu .functionDataForm {
    display: grid;
    grid-auto-rows: 1.5rem;
    justify-items: end;
    align-items: center;
}
.side-menu .functionDataForm .functionDataForm__input {
    margin-left: .25rem;
}
.side-menu .functionDataForm select.functionDataForm__input {
    border: 2px solid black;
}
.side-menu .functionDataForm .not-valid:not(.empty) {
    border: 2px solid red;
}
.side-menu .functionDataForm__validacion {
    width: 80%;
    text-align: center;
    float: right;
    margin: .5rem .5rem;
    padding: .5rem;
    color: red;
    background: black;
    border: solid 1px red;
    border-radius: 6px;
}
.side-menu .functionDataForm__validacion.hidden {
    display: none;
}

.side-menu h2 {
    text-transform: capitalize;
}
.side-menu .dibujar {
    margin-right: 25%;
    margin-top: 10%;
}

.historial {
    margin-top: 2rem;
    background: white;
    padding: .25rem;
    border: solid 1px black;
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
    min-width: 80%;
}
.historial .historial__titulo {
    margin: .5rem 0;
}
.historial .historial__lista { 
    list-style-type: none;
    text-align: left;
}
.historial .historial__lista li { 
    margin: .2rem;
    padding: .2rem 0;
    cursor: pointer;
}
.historial .historial__lista li label {
    cursor: pointer;
    text-transform: capitalize;
}
.historial .historial__lista li:nth-child(odd) {
    background: #efefef;
}
.historial .historial__lista li:hover { 
    background: black;
    color: white;
}