/* RESET */
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

button {
  text-transform: capitalize;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15), inset 0 0 6px rgba(0,0,0,.2);
  border: none;
  outline: 0;
  padding: 15%;
  cursor: pointer;
  background: white;
}
button:hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 0 6px rgba(0,0,0,.4);
}
button.active {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.5), inset 0 0 6px rgba(0,0,0,.6);
  background: #efefef;
}
.capitalize {
  text-transform: capitalize;
}
.app {
  display: grid;
  grid-template-rows: 4em auto;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.app-header {
  background: grey;
}

.app-main {
  display: grid;
  grid-template-columns: 25% auto;
}
.app-main__aside {
  background: #efefef;
  border-right: 1px solid black;
}

.app-main__article {
  padding-top: 1em;
  /*background: repeating-linear-gradient(
    -55deg,
    #fdfdfd,
    #fdfdfd 10px,
    #ffffff 10px,
    #ffffff 20px
  );*/
}
